<div *ngIf="(rates$ | async) as rates">
    <div *ngIf="rates.length">
        <h3>Fixed rates</h3>

        <div class="ui-g">
            <div class="ui-g-6" style="padding-left: 0;">
                Calculation Frequency:&nbsp;&nbsp;
                <p-dropdown
                    [options]="conditionsOptions.calculationFrs"
                    [(ngModel)]="conditions.calculationFrequency"
                    (onChange)="handleConditionsChange()"
                ></p-dropdown>
            </div>
            <div class="ui-g-6" style="padding-left: 0;">
                Application Frequency:&nbsp;&nbsp;
                <p-dropdown
                    [options]="conditionsOptions.applicationFrs"
                    [(ngModel)]="conditions.applicationFrequency"
                    (onChange)="handleConditionsChange()"
                ></p-dropdown>
            </div>
        </div>
        <p-table [value]="rates"
                 [scrollable]="true"
                 [style]="{ width: 'auto' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Rate</th>
                    <th>Comparison Rate</th>
                    <th>Calculation frequency</th>
                    <th>Application frequency</th>
                    <th>Interest Payment Due</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rate>
                <tr>
                    <td>{{ rate.cdrBanking.rate | percent: '1.2-4' }}</td>
                    <td>
                        <div
                            *ngIf="rate.cdrBanking.comparisonRate">{{ rate.cdrBanking.comparisonRate | percent: '1.2-4' }}</div>
                        <div *ngIf="!rate.cdrBanking.comparisonRate">N/A</div>
                    </td>
                    <td>{{ getFrequency(rate.cdrBanking.calculationFrequency) }}</td>
                    <td>{{ getFrequency(rate.cdrBanking.applicationFrequency) }}</td>
                    <td>{{ getInterestPaymentDue(rate.cdrBanking.interestPaymentDue) }}</td>
                    <td style="white-space: nowrap;">
                        <p-button (click)="editFixedRate(rate)" label="Edit" style="margin-right: 5px;"></p-button>
                        <p-button (click)="removeFixedRate(rate)" label="Remove"></p-button>
                    </td>
                </tr>
                <tr *ngIf="rate?.cdrBanking?.additionalInfo">
                    <td>Additional Information</td>
                    <td colspan="5">
                        {{ rate.cdrBanking.additionalInfo }}
                        <a *ngIf="rate.cdrBanking.additionalInfoUri as href"
                           [href]="href"
                           target="_blank"
                           style="display: inline-block;"
                        >Link to Additional Information</a>
                    </td>
                </tr>
                <tr *ngIf="rate?.cdrBanking?.tiers">
                    <td colspan="6">
                        <p-table [value]="rate.cdrBanking.tiers"
                                 [scrollable]="true"
                                 [style]="{ width: 'auto' }">
                            <ng-template pTemplate="tierHeader" let-columns>
                                <tr>
                                    <th>Tier Name</th>
                                    <th>Unit</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                    <th>Additional Info</th>
                                    <th>Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="tierBody" let-tier>
                                <tr>
                                    <td>{{ tier.name }}</td>
                                    <td>{{ getTierUnit(tier.unitOfMeasure) }}</td>
                                    <td>{{ tier.minimumValue }}</td>
                                    <td>{{ tier.maximumValue }}</td>
                                    <td colspan="2">
                                        {{ tier.applicabilityConditions?.additionalInfo }}
                                        <a *ngIf="tier.applicabilityConditions?.additionalInfoUri as href"
                                           [href]="href"
                                           target="_blank"
                                           style="display: inline-block;"
                                        >Link to Additional Information</a>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!--<p-overlayPanel #op appendTo="body">-->
<!--<p-button (click)="editSelectedFixedRate()" label="Edit" style="margin-right: 5px;"></p-button>-->
<!--<p-button (click)="removeSelectedFixedRate" label="Remove"></p-button>-->
<!--</p-overlayPanel>-->
