<h2 class="Section-title">
    Fees & Discounts
    <p-button label="Create fee" (click)="createFee()"></p-button>
</h2>

<div class="Fees" *ngIf="fees; else emptyFees;">
    <div class="Fee" *ngFor="let fee of fees;">
        <div class="Fee-container">
            <div class="Fee-name">{{ getFeeDetail(fee, 'NAME') }}</div>
            <div class="Fee-detail">{{ getFeeDetail(fee, 'DETAIL') }}</div>
            <div class="Fee-info" *ngIf="getFeeDetail(fee, 'INFO') as info">{{ info }}</div>
        </div>
        <div class="Fee-actions">
            <p-button (click)="editFee(fee)" label="Edit"></p-button>
            <p-button (click)="removeFee(fee)" label="Remove"></p-button>
        </div>
    </div>
</div>

<ng-template #emptyFees>
    <p>No Fee Information Available</p>
</ng-template>
