<h2>
    Deposit Rates
    <p-button
        label="Create rate"
        (click)="createRate()"
    ></p-button>
</h2>

<div *ngIf="notFixedRates && notFixedRates.length">
    <div class="NotFixedRate" *ngFor="let rate of notFixedRates">
        <div class="NotFixedRate-name">{{ getDepositDetail(rate, 'NAME') }}</div>
        <div class="NotFixedRate-actions">
            <p-button (click)="editRate(rate)" label="Edit"></p-button>
            <p-button (click)="removeRate(rate)" label="Remove"></p-button>
        </div>

        <div class="NotFixedRate-detail">{{ getDepositDetail(rate, 'DETAIL') }}</div>
        <div class="NotFixedRate-info">{{ getDepositDetail(rate, 'INFO') }}</div>

        <div class="NotFixedRate-tiers" *ngIf="rate.cdrBanking?.tiers?.length">
            <p-table [value]="rate.cdrBanking.tiers">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Name</th>
                        <th>Unit of measure</th>
                        <th>Minimum value</th>
                        <th>Maximum value</th>
                        <th>Rate application method</th>
                        <th>Additional info</th>
                        <th>Additional info URI</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tier>
                    <tr>
                        <td>{{ tier.name }}</td>
                        <td>{{ getTierUnitOfMeasureText(tier.unitOfMeasure) }}</td>
                        <td>{{ tier.minimumValue }}</td>
                        <td>{{ tier.maximumValue }}</td>
                        <td>{{ getTierApplicationMethod(tier.rateApplicationMethod) }}</td>
                        <td>{{ tier.applicabilityConditions.additionalInfo }}</td>
                        <td>{{ tier.applicabilityConditions.additionalInfoUri }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div *ngIf="fixedRates && fixedRates.length > 0">
    <app-rates-table [fixedRates]="fixedRates"></app-rates-table>
</div>
